
.vs/AutoMapperExample/DesignTimeBuild/.dtbcache
.vs/AutoMapperExample/v15/.suo
.vs/AutoMapperExample/v15/Server/sqlite3/db.lock
.vs/AutoMapperExample/v15/Server/sqlite3/storage.ide
.vs/AutoMapperExample/v15/Server/sqlite3/storage.ide-shm
.vs/AutoMapperExample/v15/Server/sqlite3/storage.ide-wal
DTO/obj/Debug/netcoreapp2.2/DTO.assets.cache
DTO/obj/Debug/netcoreapp2.2/DTO.csproj.CoreCompileInputs.cache
DTO/obj/Debug/netcoreapp2.2/DTO.csprojAssemblyReference.cache
DTO/obj/DTO.csproj.nuget.cache
DTO/obj/DTO.csproj.nuget.g.props
DTO/obj/project.assets.json
Entity/obj/Debug/netcoreapp2.2/Entity.assets.cache
Entity/obj/Entity.csproj.nuget.cache
Entity/obj/Entity.csproj.nuget.g.props
Entity/obj/project.assets.json
MVC/obj/Debug/netcoreapp2.2/MVC.assets.cache
MVC/obj/Debug/netcoreapp2.2/MVC.csproj.CoreCompileInputs.cache
MVC/obj/Debug/netcoreapp2.2/MVC.csprojAssemblyReference.cache
MVC/obj/MVC.csproj.nuget.cache
MVC/obj/project.assets.json
MVC/obj/MVC.csproj.nuget.g.props
